#tweet-log {
  height: 500px;
  width: 400px;
  background-color: white;
  margin: auto;
}

.tweet {
  height: 200px;
  margin: 2em;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  opacity: 0.8;
}

.tweet:hover {
  opacity: 1;
}

.tweet header {
  height: 80px;
  border-radius: 5px 5px 0 0;
  background-color: #eee;
  padding: 0.6em;

}

.hover-on-tweet {
  border: 1px solid black;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  float: left;
}

.twitter-name {
  float: left;
  padding: 0.2em;
}

.twitter-handle {
  float: right;
  padding: 0.2em;
}

.tweet-body {
  height: 80px;
  border-bottom: 1px solid gray;
  padding: 0.8em;

}

.tweet footer {
  height: 40px;
  padding: 0.5em;
}

.tweet-time-stamp {
  margin: 0.1em;
  display: inline;
}

.icons {
  float: right;
  visibility: hidden;
}

.tweet:hover .icons {
  visibility: visible;
}






